body {
  background: #eee;
  font-family: sans-serif;

}

.card {
  width: 400px;
  background: #fff;
  margin:8px solid;
  display:inline-block;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding:8px;
  margin:8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding:8px;
  margin:8px;
  display: block;
  text-align: center;

}

button {
  background: white;
  padding: 8px 24px;
  display: block;
  margin:auto;

}